<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FreeFall, created by Steve Rolfe (Chewmieser) and updated by alex_png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>150</integer>
          <key>label</key>
          <string></string>
			<key>icon</key>
			<string>Banner.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this toggle to enable or disable FreeFall. If you change sounds and they don’t refresh, turn this toggle off and on again.</string>
			<key>label</key>
			<string>FreeFall Toggle</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.chewmieser.freefall.prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.freefall</string>
			<key>key</key>
			<string>useFreeFall</string>
			<key>label</key>
			<string>Enable/Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Fall detection sensitivity</string>
			<key>label</key>
			<string>Free-Fall Sound</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.chewmieser.freefall.prefs-changed</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>WilhelmScream.wav</string>
			<key>defaults</key>
			<string>com.chewmieser.freefall</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fallingSound</string>
			<key>label</key>
			<string>Falling Sound</string>
			<key>set</key>
			<string>previewAndSet:forSpecifier:</string>
			<key>titlesDataSource</key>
			<string>getValues:</string>
			<key>valuesDataSource</key>
			<string>getValues:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.chewmieser.freefall.prefs-changed</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.04</string>
			<key>defaults</key>
			<string>com.chewmieser.freefall</string>
			<key>key</key>
			<string>fallingSensitivity</string>
			<key>max</key>
			<string>0.10</string>
			<key>min</key>
			<string>0.00</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>End free-fall sensitivity</string>
			<key>label</key>
			<string>After free-fall sound</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.chewmieser.freefall.prefs-changed</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>com.chewmieser.freefall</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>stoppingSound</string>
			<key>label</key>
			<string>Stopping Sound</string>
			<key>set</key>
			<string>previewAndSet:forSpecifier:</string>
			<key>titlesDataSource</key>
			<string>getValues:</string>
			<key>valuesDataSource</key>
			<string>getValues:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.chewmieser.freefall.prefs-changed</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>6.0</string>
			<key>defaults</key>
			<string>com.chewmieser.freefall</string>
			<key>key</key>
			<string>stoppingSensitivity</string>
			<key>max</key>
			<string>9.8</string>
			<key>min</key>
			<string>5.0</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FreeFall does not work if your device is in silent mode. If the sounds are too low, make sure you have your sound set to the maximum in Settings - Sound and Haptic. It is not the same as the regular volume.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Sounds can be placed in /Library/FreeFall</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Feel free to contact me in case of any bugs or issues.</string>
			<key>label</key>
			<string>Contact Me:</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@its_alex_png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>/u/alex_png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>GitHub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>github.com/alexPNG</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Email</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>email.png</string>
			<key>label</key>
			<string>alex.png.cc@gmail.com</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Check out my other tweaks, they’re all available in my repository.</string>
			<key>label</key>
			<string>Tweak Repository:</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Repository</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>repo.png</string>
			<key>label</key>
			<string>https://alexpng.github.io</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created by Steve Rolfe (Chewmieser) and Updated by alex_png</string>
		</dict>
	</array>
	<key>title</key>
	<string>FreeFall</string>
</dict>
</plist>
